@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       S'il vous plait verifiez votre adresse Email pour modifier votre mot de passe.
    </p>
</div>
	
